html,
body,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

#jumbotron {
  box-shadow: 0px 0px 15px 0px #959595ab;
  /* background-color: #f0f0f0bb; */
  background-color: #f4f4f4;
  padding: 24px;
  padding-top: 0;
  position: sticky;
  top: 0px;
  height: 100px;
  display: flex;
}

#jumbotron div.link {
  width: 20%;
  margin-left: auto;
}

#jumbotron div.link button {
  margin-top: 12px;
  background: #fafafa;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-weight: 300;
  cursor: pointer;
}

#jumbotron div.link button:hover {
  box-shadow: 0 0 6px #9c9c9c;
}

#logo {
  font-family: "Sirin Stencil", sans-serif;
  font-size: 70px;
}

#jumbotron,
#logo,
#sidenav,
.thankyou img,
button,
.doc-title a:after {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: all;
}

#sidenav {
  position: sticky;
  top: 124px;
  font-weight: 300;
  width: min-content;
  height: calc(100vh - 124px);
  overflow-y: scroll;
  background-color: #f4f4f4;
}

#sidenav a {
  padding: 12px;
}

#sidenav a:hover {
  background-color: #fafafa;
}

#sidenav a:last-child {
  margin-bottom: 20px;
}

.content {
  width: 60%;
  margin: auto;
  margin-top: 8px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 300;
}

.header {
  margin: 30px;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 75%;
  }
}

@media screen and (max-width: 850px) {
  .content {
    width: 90%;
  }

  #sidenav {
    display: none;
  }

  .thankyou {
    flex-direction: column;
  }

  #jumbotron div.link {
    width: 50%;
  }
}

ul {
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQYV2NkgIL/DAz/YWxGBgZGEBtMwCRAgshsFA66KWBJmDEwSZhp+HXitROfawG1vRgCTsAZGAAAAABJRU5ErkJggg==");
}

h2 {
  background: #f0f0f0;
  padding: 8px;
  margin: 0;
  font-weight: 500;
  border-bottom: 1px dotted red;
  border-radius: 5px 5px 0 0;
}

a {
  text-decoration: underline dotted red;
}

.content div {
  padding: 8px;
  line-height: 1.6;
}

.code {
  font-family: "Ubuntu Mono", monospace;
  line-height: normal;
  color: #404040;
}

code {
  font-family: "Ubuntu Mono", monospace;
  background-color: #f0f0f0;
  border-radius: 5px;
}

div > code {
  padding: 0 4px;
}

.center {
  text-align: center;
}

.comment {
  color: #aaa;
}

.question {
  font-weight: 400;
}

.doc-title {
  background-color: #f9f9f9;
  color: #404040;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 24px;
  font-size: large;
  border-top: 1px dotted #d5a53c;
  border-radius: 0 0 5px 5px;
}

.doc-title a,
#sidenav a {
  color: #404040;
  text-decoration: none;
  display: flex;
  align-items: center;
  outline: none;
}

a:target {
  padding-top: 80px;
  margin-top: -80px;
}

.doc-title a:hover,
#sidenav a:hover {
  text-decoration: underline #bbb;
  outline: none;
}

.doc-title a:after {
  content: "Copy";
  margin: 0 10px;
  padding: 0 10px;
  color: #f9f9f9;
  background-color: #404040;
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  text-decoration: underline #404040;
}

.doc-title a:hover:after {
  opacity: 1;
}

/* .doc-title a:hover:after {
  content: url("../assets/link.svg");
  padding-left: 10px;
  height: 18px;
} */

.doc-desc {
  padding-bottom: 0 !important;
}

.doc-usage {
  padding: 0 8px !important;
  font-size: small;
}

.doc-usage span.usage {
  font-family: "Ubuntu Mono", monospace;
  color: #3c7cd5;
  font-size: medium;
}

.doc-example {
  background-color: #404040;
  font-family: "Ubuntu Mono", monospace;
  border-radius: 5px;
}

.doc-example .example {
  color: #d5a53c;
}

.flex_container {
  display: flex;
}

hr {
  width: 90%;
  margin: 50px 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer div {
  text-align: center;
  margin-bottom: 30px;
}

.thankyou {
  display: flex;
  justify-content: space-evenly;
}

.thankyou img {
  height: 50px;
  opacity: 0.6;
  filter: grayscale(100%);
}

.thankyou img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

pre code {
  background: none !important;
}

pre {
  z-index: -1;
}
